.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  padding-left: 103px;
  padding-right: 105px;
  padding-top: 81px;
  display: flex;
  justify-content: space-between;
  height: 159px;
  box-sizing: border-box;
}

.App-logo {
  background: url("./logo.png") no-repeat;
  width: 264px;
  height: 56px;
  position: relative;
  top: 8px;
  left: 1px;
  z-index: 1;
}

.App-top-menu {
  display: flex;
  align-items: center;
  position: relative;
  top: 4px;
}

.App-top-menu-contact-link {
  color: #195BF5;
  font-size: 18px;
  text-decoration: none;
  line-height: 15px;
  border-bottom: 1px dotted transparent;
}

.App-top-menu-contact-link:hover {
  border-bottom: 1px dotted #195BF5;
}

.App-top-menu-contact-link--active {
  font-weight: bold;
}

.App-top-menu-phone {
  color: #333333;
  font-size: 24px;
}

.App-main {
  display: flex;
  height: calc(100vh - 159px);
  position: relative;
}

.App-left-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 104px;
  justify-content: center;
  padding-bottom: 245px;
  z-index: 100;
}

.App-left-menu-item {
  color: #333333;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  margin-top: 16px;
}

.App-left-menu-item:hover:not(.App-left-menu-item--active):before {
  display: block;
  animation: fadein 0.5s;
  background: url("./blue_eye.png") no-repeat;
  width: 29px;
  height: 15px;
  content: "";
  position: absolute;
  left: -42px;
  top: 6px;
}
.App-top-menu-contact-link,
.App-left-menu-item:first-child {
  margin-top: 0;
}

.App-left-menu-item--active {
  font-weight: bold;
}

.App-left-menu-item:hover:not(.App-left-menu-item--active) {
  color: #0055ff;
  transition: color 0.5s;
}

.App-left-menu-item--active:before {
  display: block;
  background: url("./menu-marker.png") no-repeat;
  width: 9px;
  height: 64px;
  content: "";
  position: absolute;
  left: -104px;
  top: -23px;
}

.App-main-content {
  flex: 1;
  height: calc(100vh - 159px);
}

@keyframes fadein {
  from { opacity: 0.3; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
